{% extends 'base.html' %}
{% block content %}
{% for recipe in recipe %}
    <div>
        <img class="responsive-img" src={{recipe.picture}}>
        <h2>{{ recipe.dish }}</h2>
    </div>
    <div>
        <h3>Ingredients</h3>
        <div>
            <p>
                {{ recipe.ingredients }}
            </p>
        </div>
    </div>
    <div>
        <h3>Steps:</h3>
        <ol>
            {% if recipe.step_1 is not none %}
                <li>{{ recipe.step_1 }}</li>
            {% endif %}
            {% if recipe.step_2 is not none %}
                <li>{{ recipe.step_2 }}</li>
            {% endif %}
            {% if recipe.step_3 is not none %}
                <li>{{ recipe.step_3 }}</li>
            {% endif %}
            {% if recipe.step_4 is not none %}
                <li>{{ recipe.step_4 }}</li>
            {% endif %}
            {% if recipe.step_5 is not none %}
                <li>{{ recipe.step_5 }}</li>
            {% endif %}
            {% if recipe.step_6 is not none %}
                <li>{{ recipe.step_6 }}</li>
            {% endif %}
            {% if recipe.step_7 is not none %}
                <li>{{ recipe.step_7 }}</li>
            {% endif %}
            {% if recipe.step_8 is not none %}
                <li>{{ recipe.step_8 }}</li>
            {% endif %}
            {% if recipe.step_9 is not none %}
                <li>{{ recipe.step_9 }}</li>
            {% endif %}
            {% if recipe.step_10 is not none %}
                <li>{{ recipe.step_10 }}</li>
            {% endif %}
        </ol>
    </div>
{% endfor %}
{% endblock %}