{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form class="col s12" action="{{ url_for('update_recipe', recipe_id=recipe._id ) }}" method="POST" >
        <h1>Dish details</h1>
        <div class="input-field col s9">
            <input placeholder="author" id="author" type="text" name="author" value="{{ recipe.author }}">
        </div>
        <div class="input-field col s6">
            <input placeholder="Dish name" id="dish" name="dish" type="text" value="{{ recipe.dish }}">
        </div>
        <div class="input-field col s6">
            <input placeholder="Cooking time in minutes" id="cooking_time" name="cooking_time" type="text" value="{{ recipe.cooking_time }}">
        </div>
        <div class="input-field col s12">
            <select name="cuisine">
                <option value="" disabled selected>Choose your cuisine</option>
                {% for cuisine in cuisines %}
                    {% if cuisine.cuisine == recipe.cuisine %}
                    <option value="{{ cuisine.cuisine }}" selected >{{ cuisine.cuisine }}</option>
                    {% else %}
                    <option value="{{ cuisine.cuisine }}">{{ cuisine.cuisine }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label>Select Cuisine</label>
        </div>
        <div class="input-field col s6">
            <input placeholder="allergens" id="allergens" name="allergens" type="text" value="{{ recipe.allergens }}">
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="picture_link" type="text" class="validate" name="picture" value="{{ recipe.picture }}">
                <label class="active" for="picture_link">Picture Link</label>
            </div>
        </div>
        
            <h4>Ingredients</h4>
            <div class="row">
            <div class="input-field col s12">
                <textarea id="ingredients" name="ingredients" class="materialize-textarea">{{ recipe.ingredients }}</textarea>
                <label for="textarea1">Type out your ingredients with quantities</label>
            </div>
            <h4>Instructions</h4>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_1" name="step_1" class="materialize-textarea">{{ recipe.step_1 }}</textarea>
                    <label for="textarea1">Step number </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_2" name="step_2" class="materialize-textarea">{{ recipe.step_2 }}</textarea>
                    <label for="textarea1">Step number </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_3" name="step_3" class="materialize-textarea">{{ recipe.step_3 }}</textarea>
                    <label for="textarea1">Step number </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_4" name="step_4" class="materialize-textarea">{{ recipe.step_4 }}</textarea>
                    <label for="textarea1">Step number </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="step_5" name="step_5" class="materialize-textarea">{{ recipe.step_5 }}</textarea>
                    <label for="textarea1">Step number </label>
                </div>
            </div>
            <div class="row">
                    <div class="input-field col s12">
                        <textarea id="step_6" name="step_6" class="materialize-textarea">{{ recipe.step_6 }}</textarea>
                        <label for="textarea1">Step number </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="step_7" name="step_7" class="materialize-textarea">{{ recipe.step_7 }}</textarea>
                        <label for="textarea1">Step number </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="step_8" name="step_8" class="materialize-textarea">{{ recipe.step_8 }}</textarea>
                        <label for="textarea1">Step number </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="step_9" name="step_9" class="materialize-textarea">{{ recipe.step_9 }}</textarea>
                        <label for="textarea1">Step number </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="step_10" name="step_10" class="materialize-textarea">{{ recipe.step_10 }}</textarea>
                        <label for="textarea1">Step number </label>
                    </div>
                </div>
        <button class="btn waves-effect waves-light" type="submit">Update recipe
        </button>
    </form>
</div>
{% endblock %}

<!-- {
    "_id": {
        "$oid": "5b780af2fb6fc066d427cad4"
    },
    "dish": "Eggs on toast",
    "author": "harry",
    "number_of_upvotes": "0",
    "picture": "http://robebakery1884.com.au/wp-content/uploads/2015/11/egg-on-toast.jpg",
    "comments": [
        {
            "username": "harry",
            "comment": "This is my favourite dish",
            "recommended": "True"
        },
        {
            "username": "louise",
            "comment": "Don't like it",
            "recommended": "False"
        }
    ],
    "cooking_time": "70",
    "spicy": "false",
    "ingredients": [
        {
            "name": "Eggs",
            "amount": "2",
            "price": "120",
            "allergen": "false"
        },
        {
            "name": "Toast",
            "amount": "1 slice",
            "price": "10",
            "allergen": "false"
        }
    ],
    "steps": [
        {
            "step": "Heat frying pan on high heat and add eggs once hot without breaking yoke."
        },
        {
            "step": "Put toast in toaster."
        },
        {
            "step": "When toast is done butter toast and add egg on top."
        }
    ]
} -->