{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <a class="waves-effect waves-light btn" href="{{ url_for('list_recipes_allergen_free') }}">Filter out Allergens</a>
        <a class="waves-effect waves-light btn" href="{{ url_for('list_recipes_most_popular') }}">Sort by most popular</a>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="{{ recipe.picture }}">
                    <span class="card-title">{{ recipe.dish }}</span>
                </div>
                <div class="card-content">
                    <p>Upvotes: {{ recipe.upvotes }}</p>
                    {% if  recipe.allergens != '' %}
                        <p>Allergens: {{ recipe.allergens }}</p>
                    {% else %}
                        <p>This recipe is free of known allergens!</p>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="/{{ recipe._id}}">Let's cook!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>   
</div>          
{% endblock %}