{% extends 'base.html' %}
{% block content %}
    <div class="carousel carousel-slider center">
        {% for recipe in recipes %}
            <div class="carousel-item amber white-text" href="#one!">
                <h2>{{ recipe.dish }}</h2>
                <p class="white-text">Number of upvotes: {{ recipe.number_of_upvotes }}</p>
                <img class="responsive-img" src={{recipe.picture}}>
                <div class="carousel-fixed-item center">
                    <a class="btn waves-effect white grey-text darken-text-2" href="{{ username }}/{{ recipe._id}}">Let's cook {{ recipe.dish }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <a class="btn waves-effect white grey-text darken-text-2" href="{{ url_for('add_recipe') }}">Add recipe</a>
    </div>
{% endblock %}
