{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <a href="{{ url_for('list_recipes') }}">All recipes</a>
        <a href="{{ url_for('list_recipes_allergen_free') }}">Filter out Allergens</a>
    </div>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="{{ recipe.picture }}">
                    <span class="card-title">{{ recipe.dish }}</span>
                </div>
                <div class="card-content">
                    <p>Upvotes: {{ recipe.upvotes }}</p>
                    {% if  recipe.allergens != '' %}
                        <p>Allergens: {{ recipe.allergens }}</p>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="/{{ recipe._id}}">Let's cook!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>             
{% endblock %}