{% extends 'base.html' %}
{% block content %}
{% for recipe in recipe %}
    <ul class="collapsible">
        {% for step in recipe.steps %}
            {% if loop.index == 1 %}
                <li>
                    <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Step {{ loop.index }}</div>
                    <div class="collapsible-body"><span>{{ step.step }}</span></div>
                </li>
            {% else %}
            <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Step {{ loop.index }}</div>
                    <div class="collapsible-body"><span>{{ step.step }}</span></div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}